<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
	<title>BiblioMovies</title>
</head>
<body>
    <header>
		<div class="contenedor">
			<h2 class="logotipo">BiblioMovies</h2>
            
			<nav>
                <a href="login.html" class="activo">Login</a>
				<a href="#" class="activo">Inicio</a>
				<a href="index2.php">Peliculas</a>
				<a href="#">Mùsica</a>
				<a href="#">DVD Informativos</a>
				<a href="#">Documentales</a>
				<a href="#">Audio Libros</a>
			</nav>
		</div>
	</header>
    
</body>
</html>